*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-regular;
  color: $color-light;
}

.container {
  height: 2100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}